@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  font-size: 62.5%;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #edf2f4;

}

.container {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  justify-items: stretch;
}

.dashboard-wrapper {
  min-height: 100vh;
  font-size: 2.5rem;
  padding: 3rem;
  background-color: #ade8f4;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(10, auto) 1fr;
  column-gap: 15px;
  row-gap: 20px;
  align-items: center;
}

.dashboard-wrapper p, .icons {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dashboard-wrapper p:hover, .icons > *:hover {
  transform: scale(1.1);
}

.dashboard-wrapper .fa-solid {
  justify-self: center;
}

.dashboard, .fa-table-columns, .communities, .fa-people-group {
  margin-bottom: 5rem;
}

.header {
  grid-area: 1/2/2/-1;
  background-color: #fff3b0;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1.5rem 8rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 5px 2px 10px #ccd0d1;
}

.header .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.header .lower {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header .small-logo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}

.header .small-logo img {
  position: relative;
  right: 1.5rem;
}

.header .big-logo {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.header .big-logo img {
  position: relative;
  right: 3rem;
}

#searchbar {
  border-radius: 1.5rem;
  height: 3rem;
  flex: 1;
  margin: 0 10% 0 0;
  padding: 1rem;
}

.fa-bell, .small-logo, .small-logo + p {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.fa-bell:hover, .small-logo:hover, .small-logo + p:hover {
  transform: scale(1.1);
}

.header p {
  font-size: 3rem;
  font-weight: bold;
}

.header .username span {
  font-size: 1.5rem;
}

.header .username {
  font-size: 3rem;
  margin-right: 40%;
  width: fit-content;
}

button {
  border-radius: 3rem;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background-color: #ade8f4;
  cursor: pointer;
}

.main {
  padding: 2rem;
  grid-area: 2/2/-1/3;
  font-size: 3rem;
  font-weight: bold;
}

.main p {
  margin-bottom: 2.5rem;
}

.projects {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.projects > * {
  padding: 3rem;
  border-left: 2rem #06d6a0 solid;
  background-color: white;
  box-shadow: 1px 1px 5px;
  border-radius: 1.5rem;
}

.projects p {
  height: 15rem;
  font-weight: lighter;
  font-size: 2rem;
  text-align: start;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects .icons {
  text-align: end;
  letter-spacing: 1rem;
}

.sidebar {
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  grid-area: 2/3/-1/4;
  display: grid;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.announcements > p, .trending > p {
  margin-bottom: 2.5rem;
}

.announcements div {
  border-radius: 3rem;
  background-color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.announcements .sub-heading {
  font-size: 2rem;
}

.trending > div {
  background-color: white;
  border-radius: 3rem;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}

.profile-pic img {
  position: relative;
  right: 1rem;
}